.annotations span { border-bottom: 1px solid red; border-bottom-width: 2px; display: inline-table; margin-bottom: 0px; position: relative; margin-bottom: 1px; color: black; }

.annotations span span { margin: 0px; padding: 0px;}


