span.gpw_met_agenda_no { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px double green; background:#FFDFDF;}
span.gpw_met_agenda_text { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#CACAFF;}
span.gpw_met_company { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#D6F8DE;}
span.gpw_met_date { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid purple; background:white;}
span.gpw_met_deposit_city { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#EEDCC8;}
span.gpw_met_deposit_date { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#FFFAA9;}
span.gpw_met_deposit_from { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#F5CAFF;}
span.gpw_met_deposit_num { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#DDCEFF;}
span.gpw_met_deposit_road { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#CEDEF4;}
span.gpw_met_deposit_time{ border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#BDFFEA;}
span.gpw_met_deposit_to { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid purple; background:white;}
span.gpw_met_place_city { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#EE8262;}
span.gpw_met_place_name { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#ECD9D9;}
span.gpw_met_place_num { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:#C0E7F3;}
span.gpw_met_place_road { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background: Gold;}
span.gpw_met_register_time { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background:Violet;}
span.gpw_met_time { border: 1px dashed #555; padding: 0 1px; border-bottom: 2px solid green; background: GreenYellow;}
