.report-metadata-form label {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin: 5px 0px 5px 0px;
}
.report-metadata-form input, .report-metadata-form select {
    width: 80%;
    margin: 0px;
}