.ajax { margin: 0 10px; }

#panels { width: 100%; }
#panels td.left { width: 45%; vertical-align: top; }
#panels td.right { vertical-align: top; }
#panels td textarea { width: 99%; height: 400px; }

#form { margin: 5px; line-height: 25px;  }

#summary { padding: 4px; padding-bottom: 0; width: 600px; }
#summary thead th { text-align: center; }
#summary .click { text-align: center; cursor: pointer; }
#summary .selected { background: #faf; }
#summary .eval { text-align: center; background: #efefef; }
#summary .evalf { text-align: center; background: #efefef; font-weight: bold; }

#items { height: 400px; overflow: auto; background: white; border: 1px solid #aaa; margin: 4px; }

#process { float: right; }
#results { float: right; }
#results span { font-weight: bold; }

#error { display: none; background: #FFEBEB; color: #B80000; border: 1px solid #8F0000; padding: 5px; margin: 5px; }
#error li { white-space: pre-wrap; }
#error li em { font-style: normal; color: black; padding: 2px; }

#sentences { margin-right: 20px; }
#sentences li { font-size: 12px; margin-bottom: 10px; line-height: 18px; }

span.aux { font-weight: bold; border-size: 0; border-bottom: 4px solid #FF4040; margin-bottom: 2px; display: inline-block;}
span.aux span.aux { border-color: #92CD00; }

.reference { border: 1px solid #aaa; background: #efefef; color: #444; padding: 2px; margin-top: 4px; }
.reference div { font-size: 10px; color: #aaa; text-decoration: italic; }

.recognized { border: 1px solid #aaa; color: #444; padding: 2px; margin-top: 4px; }
.recognized div { font-size: 10px; color: #aaa; text-decoration: italic; }

div.aux { border: 1px solid #aaa; background: #EBFFF0; color: #444; padding: 2px; margin-top: 4px; }
div.aux div { font-size: 10px; color: #aaa; text-decoration: italic; }

#status { margin: 7px; line-height: 25px; }

#interupt { float: right; }
#process { width: 100px; }

small { font-size: 10px; }
tok:hover { background: white; border-bottom: 1px solid red; }

.top-menu { float: right; margin: 5px; }
.top-menu a { font-size: 12px; text-decoration: none; }

.page { margin: 10px; }

.CodeMirror { border: 1px solid #aaa; }

#toolbox { background: white; overflow: auto; margin-bottom: 10px; }
#toolbox ul.ui-tabs-nav { height: 28px; }
#toolbox .ui-tabs-panel { padding: 5px; overflow: auto; height: 200px; }
#toolbox table td { vertical-align: top;}

span.tag { font-weight: normal; color: purple; }
span.tag a { font-weight: bold; color: purple; text-decoration: underline; }
span.attribute { color: navy; font-weight: bold;}
span.attribute a { color: navy; font-weight: bold; text-decoration: underline;}
span.value{ color: darkgreen; font-weight: bold;}
span.value a{ color: darkgreen; font-weight: bold; text-decoration: underline;}
span.tagattr { color: #e08700; }
span.string { color: #a11; }
span.description { }
div.examples { padding-top: 5px; padding-bottom: 5px; }
div.examples ul {margin: 0 0 0 20px; padding:0;}
div.examples span.header { font-style: italic; color: #555; }

#panels textarea#annotation_types_textarea { height: 60px; }

.cm-boolean { color: blue; }
.cm-color { color: olive; }