#page_content { margin: 0; padding: 0; border-width: 0; }

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important}

.tnav { margin: 3px; }