#token-tagger-module{
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    padding: 15px;
}
#token-tagger-module .form-control{
    background-color: inherit !important;
}

#token-tagger-module span{
    border: none;
    background-color: inherit;
}

#token-tagger-module .btn-group{
    width: 100%;
    text-align: center;
}

.token-tagger-active{
    color: #006bff;
    font-style: italic;
    font-weight: bold;
}

.token-tagger-glyph{
    font-size: 1.2em;
}

.token-tagger-btn{
    width: 50%;
    padding: 7px 0;
    margin: 3px 0;
}

.token-tagger-glyph-green{
    color: #5cb85c;
}

.token-tagger-glyph-red{
    color: #d9534f;
}

.token-tagger-glyph-yellow{
    color: #f0ad4e;
}

.es-list{
    display: none;
    max-height: 300px !important;
}

.tooltip-page-tag{
    color: white;
    padding: 5px 5px;
    background-color: #000;
    /*top: 10%;*/
    /*right: -100%;*/
    bottom: 30%;
    min-height: 100px;
    min-width: 180px;
    transition: opacity .3s;
}
.tooltip-page-tag:after {
    left: 40%;
    bottom: -15px;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #080808;
}
.tooltip-page-tag ul{
    padding-left: 15px;
}

#morpho-tagger{
    min-height:500px;
}

#morpho-tagger input.es-input{
    border:none;
    border-bottom:2px solid #aaa;
}


.token-card-content{
    margin: 5px 0;
    background-color: #c4c4c4;
    padding:15px 0;
    border-radius: 5px;
    /*transition: height 2s ease-in;*/
}

.card-main > .token-card-content{
    background-color: #e6e6e6;
    font-size: 1.2em;
    padding: 15px 0 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-main > .token-card-content ul.possible-tags-list li{
    padding: 3px 6px;
    margin: 2px 0;
}

.token-card-content ul{
    list-style-type: none;
    padding-left:0;
}

.token-card-content ul.possible-tags-list li{
    background-color: #ccc;
    padding: 2px;
    margin: 2px 0;
}

.token-card-content ul li:hover, .token-card-content ul li.selected-tag{
    background-color: #2d64ff;
    color: #fff;
    cursor: pointer;
}

.tag-base{
    float: left;
    display: block;
    min-width: 70px;
}

.btn-side-morpho{
    height:250px;
    width: 100%;
    border:none;
    border-radius: 0;
    /*height:100%;*/
}