#token-tagger-module{
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    padding: 15px;
}
#token-tagger-module .form-control{
    background-color: white;
}

#token-tagger-module span{
    border: none;
    background-color: inherit;
}

#token-tagger-module .btn-group{
    width: 100%;
    text-align: center;
}

.token-tagger-active{
    color: #006bff;
    font-style: italic;
    font-weight: bold;
}

.token-tagger-glyph{
    font-size: 1.2em;
}

.token-tagger-btn{
    width: 50%;
    padding: 7px 0;
    margin: 3px 0;
}

.token-tagger-glyph-green{
    color: #5cb85c;
}

.token-tagger-glyph-red{
    color: #d9534f;
}

.token-tagger-glyph-yellow{
    color: #f0ad4e;
}

.es-list{
    display: none;
    max-height: 300px !important;
}

.tooltip-page-tag{
    color: white;
    padding: 5px 5px;
    background-color: #000;
    top: 36%;
    right: 95%;
    min-height: 100px;
    min-width: 180px;
    transition: opacity .3s;
}
.tooltip-page-tag:after {
    left: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-left-color: #080808;
    border-width: 10px;
    margin-top: -10px;
}
.tooltip-page-tag ul{
    padding-left: 15px;
}