#page { width: 1280px; margin: 0 auto;}

ul.elements { margin: 0px; padding: 0px; }
ul.elements li { margin-left: 20px; }
.elements a { color: darkblue; }

ul.elements ul { margin: 0px; padding: 0px; }

.hsplitbar { 
	background: #999;
	border: 1px solid #444;
	height: 4px; 
	cursor: n-resize; 
	-moz-user-select: none; }

.hsplitbar:hover { background: orange; }

#zoom { -moz-user-select: none; cursor: -moz-grab}
#zoom div { -moz-user-select: none; }
#zoom img { -moz-user-select: none; }

.elements a { text-decoration: underline; }
span.tag { font-weight: bold; color: purple; }
span.tag a { font-weight: bold; color: purple; text-decoration: underline; }
span.attribute { color: navy; font-weight: bold;}
span.attribute a { color: navy; font-weight: bold; text-decoration: underline;}
span.value{ color: darkgreen; font-weight: bold;}
span.value a{ color: darkgreen; font-weight: bold; text-decoration: underline;}

span.ajax_inline_status { color: #555; font-weight: normal; padding: 2px; }
span.ajax_inline_status .time { font-weight: normal; font-size: 0.8em; margin: 0 2px; }

#transcriber { position: relative; }
#transcriber div.elements { overflow: auto; background: #e9e9e9; padding: 3px; border: 1px solid #aaa; }
#transcriber div.inner_border { border: 1px solid #aaa; }
#transcriber #zoom { border: 1px solid #aaa; }

#transcriber.horizontal #frame_elements { float: right; width: 400px; }
#transcriber.horizontal #frame_editor { margin-right: 420px; }

#transcriber.vertical #frame_images { float: left; width: 500px; }
#transcriber.vertical #frame_elements { margin-left: 510px; }
#transcriber.vertical #frame_elements div.elements { height: 250px; }
#transcriber.vertical #frame_editor { margin-left: 510px; }
