body { font-family: Verdana,Arial,sans-serif; font-size: 10px; }
body { margin: 0px; padding: 0px; background: tan; }

p { margin: 0px; }

table td { padding: 0px 5px; }
table th { padding: 0px 10px; }
table tr.even td { background: #eee; }

table tr.month_12 td { border-bottom: 1px solid black; }

/* Box z filtrowaniem raportów */
#filter_box { padding: 5px; }
#filter_box ul { display: inline; margin: 0px; padding: 0px;}
#filter_box li { display: inline; margin: 0px 10px; }
#filter_box li a { text-decoration: none; color: #aaa; }
#filter_box li.active a { font-weight: bold; color: #444; }

#fatal_error { border: 2px solid red; background: #FFA98A; font-size: 14px; margin: 10px; padding: 10px; clear: both; text-align: center; }

.filter_menu ul { margin: 0px; padding: 0px; }
.filter_menu li { list-style: none; margin-left: 0px; padding-left: 0px; }
.filter_menu a { color: gray; background: transparent !important; }
.filter_menu a.selected { color: blue; background: transparent !important; }

em { font-style: normal; color: darkred; font-weight: bold;  }

.table_cell_content { vertical-align: top; background: white; border: 1px solid rgb(68, 68, 68); }

.total_count { font-size: 18px; font-weight: bold; text-align: center; margin: 10px; padding: 5px; background: white; border: 1px solid rgb(132,190,45); color: blue; }
.total_count small { font-size: 10px; font-weight: normal; color: grey; }

#menu_box { float: left; padding: 4px; }
#menu_box ul { margin: 0px; padding: 4px; }
#menu_box li { padding: 0px; list-style: circle; margin-left: 5px; }
#menu_box .active { font-weight: bold; }

.row_even td { background: #eee; }
.row_even a { color: #555; }
.row_odd a { color: #555; }
.formated .row_even_ok td { background: #C9FFB2; }
.formated .row_odd_ok td { background: #C9FFB2; }
.formated .row_even_notok td { background: #FFA98A; }
.row_even_formated td { background: #fc8; }
.row_odd_formated td { background: #ffe4bf; }

h1 { margin: 5px; font-size: 18px; line-height: 30px; }
h2 { font-size: 14px; margin: 5px; }
h3 { font-size: 12px; margin: 5px; }

a { color: darkblue; text-decoration: none; }
a:hover { text-decoration: underline; }

/* 
 * Stałe i unikalne elementy strony 
 */
#main_menu { background: white; border-bottom: 1px solid #444444; font-size: 1.1em; font-weight: bold; }
#main_menu ul { margin: 0px; padding: 4px 0px; }
#main_menu li { display: inline; margin: 0px; padding: 4px 6px; }
#main_menu .active { background: #F28A08; color: white; }
#main_menu .active a { color: white; } 

#filter_box { border-bottom: 1px solid #555; background: #eee; }
#filter_box input { vertical-align: bottom; }

.pagging { border-bottom: 1px solid #583422; border-top: 1px solid #583422; margin: 2px 0px; padding: 2px; background: #FFE494; }
.pagging a { width: 40px; text-decoration: none; border: 1px solid #777; padding: 0px 5px; background: white; }
.pagging a:hover { background: #eee; }
.pagging a.active { font-weight: bold; background: #F28A08; color: white; border-color: #0C0B0E; }

table#report { width: 100%; }
table#report th { color: grey; font-size: 10px; vertical-align: top; width: 40px; text-align: right; }

.ajax_success { margin: 2px 5px; color: Green; font-weight: bold; }

/* Stany elementów */

.hightlighted { background: yellow; }
.hightlighted td { background: yellow !important; }

.selected { background: red !important; }
.selected td { background: red !important; }

.inactive { color: grey; }

/* Formatowanie adnotaci */
#content { line-height: 140%; }
#content span { border-bottom: 2px solid red; cursor: default;}
#content small.hightlighted { background: khaki; }
#content span.hightlighted { background: yellow; }
#content small { vertical-align: top; color: gray; padding: 2px; cursor: default;}

#content span.amount { border-color: GreenYellow; }
#content span.company { border-color: SteelBlue; }
#content span.company_short { border-color: LightSteelBlue; }
#content span.company_alias { border-bottom: 1px dashed LightSteelBlue; }
#content span.date { border-color: Gold; }
#content span.person { border-color: PeachPuff; }
#content span.institution { border-color: MediumOrchid; }
#content span.location { border-color: YellowGreen; }
#content span.city { border-color: YellowGreen; }
#content span.street { border-color: YellowGreen; }
#content span.house_num { border-color: YellowGreen; }
#content span.postal { border-color: YellowGreen; }
#content span.proper_noun { border-color: MediumVioletRed; }
#content span.document_reference { border-color: SaddleBrown; }
#content span.document_name { border-color: Chocolate; }
#content span.proper_name_acronym { border-color: LawnGreen; }
#content span.code { border-color: Purple; }

#content.takipi span.w { border: 1px solid #ddd; line-height: 22px; background: #f5f5f5; padding: 0px 2px; } 
#content.takipi span.hightlighted { background: yellow; }
#content.takipi span.marked { background: Chocolate; }
#content.takipi span.ann { border-width: 2px; line-height: 22px; padding: 2px;} 

#content span.selected { background: red !important; }

/****
 * Powtarzalne elementy strony
 */
/* Boks z opcjami filtru jednej własności */
.filter_box { }
.filter_box h2 { background: white; border: 1px solid #ccc; border-bottom: 1px solid #888; margin-left: 0px; margin-right: 0px; padding: 0px 1px; color: grey; margin-bottom: 0px; font-size: 12px; }
.filter_box h2.active { color: black; }
.filter_box small.toggle { float: right; margin-top: 3px; margin-right: 2px; }
.filter_box a.cancel { color: red; }
.filter_box ul li { border-bottom: 1px dashed #ccc; }
.filter_box .num { float: right; }
.filter_box div { background: white; border: 1px solid #ccc; padding: 2px; }

.annotation_item { border-bottom: 1px dashed #ccc; }  

#content.takipi span { background: #F5F5F5 none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	line-height:22px;
	padding:0 2px;
}	
#token b { color: red; }

table.formated { background: #777; }
table.formated tbody th { background: #ccc; text-align: right; }
table.formated thead th { background: #ccc; }
table.formated td { background: white; }
table.formated th { background: white; }