engine/templates_c/*
engine/include/vendor
config/config.local.php
docker/www/config/config.local.php
secured_data/ccls
secured_data/exports
secured_data/images
secured_data/import
*~
*.aux
*.log
*.backup
*.swp
composer.lock
config.local.php.*
