form {
	margin-left: 0em;
}

/* General layout */

#sidebar {
	text-align: left;
	position: absolute;
	top: 0;
	left: .5ex;
	width: 11em;
}

#sidebar h3 {
	margin: 1em 0 1ex 0;
}

#sidebar ul {
	list-style-type: none;
	margin: 1ex 0 1ex 1em;
	padding: 0;
}

#sidebar ul li {
	font-weight: bold;
	margin: 1ex 0;
	padding: 0;
}

#debug {
	margin-left: 12em;
}

/* Annotation styles */
ol#articles {
	list-style-type: none;
	position: relative ;
	margin: 0;
	padding: 0;
}

.hentry h3 {
	margin: 1ex 0;
}

.hentry {
	position: relative;
	padding: 0 ;
	margin: 2em 0 ;
}

.hentry .entry-content {
	width: 60% ;
	margin-left: 3em;
	font-size: medium;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hentry p {
	margin: 1ex 0;
}

.hentry .entry-content li {
	margin: 1ex 0;
}

.hentry .entry-content em.annotation {
	font-style: inherit;
}

.hentry .entry-content em.annotation a,
.hentry .entry-content a em.annotation {
	text-decoration: underline;
}

.hentry .entry-content em.annotation sup a {
	text-decoration: none;
	background-color: inherit;
	cursor: pointer;
}

.hentry .notes {
	background: #eee;
	position: absolute;
	height: 100%;
	width: 30%;
	top: 0;
	right: 0 ;
	margin: 0;
	padding: 0;
}

.hentry button.createAnnotation {
	height: 100%;
	width: 1em;
	position: absolute;
	top: 0 ;
}

.editing-note .hentry button.createAnnotation {
	visibility: hidden;
}

.hentry table td {
	vertical-align: top;
}

.hentry .notes ol {
	list-style-type: none;
	margin: 0 0 0 1em ;
	padding: 2px .5ex ;
	height: 100%;
}

.hentry .notes li {
	position: relative;
	font-family: sans-serif;
	margin: 0 ;
	margin-bottom: 1ex;
	padding: .25ex .5ex;
	min-height: 1.2em;
	width: 90%;
	cursor: pointer;
}

.hentry .notes li p {
	margin: 0 0 0 1em ;
}

.hentry .notes li.other-user {
	color: #555;
}


.hentry .notes li.quote-error p:before {
	content: '!';
	padding: 0 .75ex;
	margin-right: .2ex;
	background: red;
	color: white;
	font-weight: bold;
}

.hentry .notes li.collapsed {
	overflow: hidden;
}

.hentry .notes li.collapsed p {
	white-space: nowrap;
}

.hentry .notes li.dummyfirst {
	height: 1px;
	cursor: default;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

.hentry .notes li .controls {
	float: right;
}

.hentry .notes li .controls button {
	border: none;
	background: none;
}

.hentry .notes li textarea {
	font-family: sans-serif;
	border: none;
	background: white;
	margin: 0;
	width: 95%;
}

.hentry .notes li.hover,
.hentry .entry-content em.annotation.hover {
	color: red;
}

.hentry .entry-content em.annotation.editing-note {
	outline: red 2px solid;
}


.hentry .notes li button.expand-edit {
	position: absolute;
	top: 0;
	right: 100%;
}

.hentry .notes .editing-link label {
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
}

.hentry .notes .editing-link input {
	margin-left: 1.5em;
	margin-right: 1.5em;
	max-width: 80%;
}

.hentry .notes .editing-link button {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
}

.hentry .notes .username {
	font-style: italic;
}

.hentry .markers {
	position: absolute;
	height: 100%;
	width: 10px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border-right: 1px solid #555;
	background: #eee;
}

.hentry .markers .marker {
	position: absolute;
	right: .35em;
}

.hentry .markers .marker:hover {
	background-image:  url( 'marker-tail.png' );
	background-repeat:  repeat-y;
	background-position:  top right;
}

.hentry .markers .annotation-user-count {
	cursor: pointer;
	display:  block;
	width: 1.5em;
	text-align: center;
	padding: .25ex .25ex;
	background: #bbb;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

.hentry .markers .marker.fetched .annotation-user-count {
	background: transparent;
	color: #bbb;
}

.hentry .markers .marker:hover .annotation-user-count {
	background: #66f;
}

#range-caret {
	width: 1px;
	margin-right: -1px;
	background: red;
}

.hentry .smart-copy {
	display: none;
}

