/*
 * Highlights
 *
 * Use darker shades of yellow for overlapping highlights
 */
 
.hentry .entry-content em.annotation {
	background: #fdf377;
	font-style: inherit;
}

.hentry .entry-content em.annotation em.annotation {
	background: #f4e373;
}

.hentry .entry-content em.annotation em.annotation em.annotation {
	background: #ecd470;
}

.hentry .entry-content em.annotation em.annotation em.annotation em.annotation {
	background: #e0ce6c;
}

.hentry .entry-content em.annotation em.annotation em.annotation em.annotation em.annotation {
	background: #d8c666;
}


/*
 * Edit actions
 *
 * Strikethrough etc.
 */

.hentry .entry-content em.annotation.action-edit {
	background: none;
}

.hentry .entry-content em.annotation del {
	color: darkred;
	text-decoration: line-through;
}

.hentry .entry-content em.annotation ins {
	color: darkblue;
	text-decoration: none;
}

.hentry .entry-content em.annotation a,
.hentry .entry-content a em.annotation {
	text-decoration: underline;
}


/*
 * Inserted links
 */

.hentry .entry-content em.annotation sup a {
	text-decoration: none;
	background-color: inherit;
	cursor: pointer;
}


/*
 * Annotation create button
 */

.hentry button.createAnnotation {
	height: 100%;
	width: 1em;
	position: absolute;
	top: 0 ;
}
.editing-note .hentry button.createAnnotation {
	visibility: hidden;
}


/*
 * Annotation margin notes
 */

.hentry .notes ol {
	list-style-type: none;
	margin: 0;
	padding: 0 .5ex ;
	height: 100%;
}

.hentry .notes li {
	position: relative;
	font-family: sans-serif;
	margin: 0 ;
	margin-bottom: .5ex;
	padding: 0;
	min-height: 1.2em;
	line-height: 1.7em;
	width: 100%;
	cursor: pointer;
	margin-left: 10px;
}

.hentry .notes li.dummy {
	height: 1px;
	min-height: 1px;
	margin: 0 0 -1px 0;
	padding: 0;
}

/* notes by another user are in a lighter grey */
.hentry .notes li.other-user {
	color: #555;
}
.hentry .notes .username {
	font-style: italic;
}


.hentry .notes li.quote-error p:before {
	content: '!';
	padding: 0 .75ex;
	margin-right: .2ex;
	background: red;
	color: white;
	font-weight: bold;
}

.hentry .notes li.collapsed {
	overflow: hidden;
}

.hentry .notes li.collapsed p {
	white-space: nowrap;
}

.hentry .notes li.dummyfirst {
	height: 1px;	/* force minimal display so later note margins will be correctly calculated */
	cursor: default;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

.hentry .notes li .controls {
	float: right;
	vertical-align: top;
	/*display: none;*/
}

.hentry .notes li .select-action {
	margin: .5ex;
	padding: 0 0 0 .5ex;
	list-style-type: none;
	font-size: inherit;
	border-left: #bbb .5ex solid;
}

.hentry .notes li .select-action li {
	margin: 0;
	padding: 0;
	position: relative;
}

.hentry .notes li .select-action button {
	border: none;
	padding: 0;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: inherit;
}


.hentry .notes li .select-action button:hover {
	background-color: #bbb;
}
	
.hentry .notes li .controls button,
.hentry .notes li button.expand-edit {
	line-height: 1em;
	border: none;
	font-size: inherit;
	padding: 0;
	margin: 0;
	width: 1.5em;
	height: 1.2em;
	vertical-align: top;
	cursor: pointer;
	z-index: 1000;
}

.hentry .notes li .controls button:hover,
.hentry .notes li button.expand-edit {
	font-weight: bold;
}

.hentry .notes li textarea {
	font-size: inherit;
	font-family: sans-serif;
	border: none;
	background: white;
	margin: 0;
	width: 95%;
}

.hentry .notes li button.annotation-access {
	heigh: 1.2em;
	width: 1em;
}

/*
.hentry .notes li.hover,
.hentry .entry-content em.annotation.hover,
.hentry .entry-content em.annotation.hover ins,
.hentry .entry-content em.annotation.hover del {
	color: red;
}
*/

.hentry .notes li button.expand-edit {
	position: absolute;
	top: 0;
	right: 100%;
}

.hentry .notes .editing-link label {
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
}

.hentry .notes .editing-link input {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.hentry .notes .editing-link button {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
}


/*
 * Hide smart copy additional info
 */
.hentry .smart-copy {
	display: none;
}

