.CodeMirror-line-numbers {
background-color:#EEEEEE;
color:#AAAAAA;
font-family:monospace;
font-size:10pt;
line-height:normal;
padding-right:0.3em;
padding-top:0.4em;
text-align:right;
width:2.2em;
}
